<section class="">
    <!-- Start Header top Bar -->
    <div class="row header-top">
        <div class="d-flex container clearfix">
            <div class="col-md-6">
                <ul class="follow-us hidden-xs">
                    <li class="facebook"><a routerLink=""><mat-icon>facebook</mat-icon></a></li>
                    <li class="instagram"><a routerLink=""><mat-icon>youtube_activity</mat-icon></a></li>
                    <li class="linkedin"><a routerLink=""><mat-icon>nest_heat_link_gen_3</mat-icon></a></li>
                    <li class="linkedin"><a routerLink=""><mat-icon>youtube_activity</mat-icon></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="right-block clearfix">
                    <ul class="top-nav">
                        <li>
                            <a style="color: white;" routerLink="" target="_blank">Mandatory
                                Public Disclosure</a>
                        </li>
                        <li>
                            <a routerLink="">Online Registration Form</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header top Bar -->

    <!-- Start Header Middle -->
    <div class="container header-middle">
        <div class="row">
            <span class="col-xs-6 col-sm-3">
                <a routerLink="index.html">
                    <img class="img-responsive" src="" alt="">
                </a>
            </span>
            <!-- <div class="col-xs-6 col-sm-3"></div> -->
            <div class="col-xs-6 col-sm-9">
                <div class="contact clearfix">
                    <ul class="hidden-xs">
                        <li> <span>Email</span>
                            <a routerLink="mailto:rehanpasha7830@gmail.com">royalpublicschoolbilarigmail.com</a>
                        </li>
                        <li> <span>Phone No.</span> 08869840140</li>
                    </ul>
                    <a routerLink="" class="login" target="_blank">Winter Holidays Circular </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Middle -->

    <!-- Start Navigation -->
    <nav id="navbar" class="navbar order-last order-lg-0">
        <!-- <div class="container"> -->
        <ul class="navbar_ul_center">
            <li>
                <a class="nav-lin scrollto " routerLink="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a class="nav-lin" routerLink="">
                    <span>About us</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item-1" routerLink="#">Overview</a></li>
                    <li><a class="dropdown-item" routerLink="#">Principal's
                            Desk</a></li>
                    <li><a class="dropdown-item" routerLink="#">Chairman's
                            Message</a></li>
                    <li><a class="dropdown-item" routerLink="#">Management
                            Team</a></li>
                    <li><a class="dropdown-item" routerLink="#">Know Our Faculties</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="#">Duties</a></li>
                    <li><a class="dropdown-item" routerLink="#">Our Mentors</a></li>
                    <!--<li><a class="dropdown-item" routerLink="">Management Team</a></li>-->
                </ul>
                <!-- <ul>
                    <li><a routerLink="">Drop Down 1</a></li>
                    <li class="dropdown">
                        <a routerLink=""><span>Deep Drop Down</span>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <ul>
                            <li><a routerLink="">Deep Drop Down 1</a></li>
                            <li><a routerLink="">Deep Drop Down 2</a></li>
                            <li><a routerLink="">Deep Drop Down 3</a></li>
                            <li><a routerLink="">Deep Drop Down 4</a></li>
                            <li><a routerLink="">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Drop Down 2</a></li>
                    <li><a routerLink="">Drop Down 3</a></li>
                    <li><a routerLink="">Drop Down 4</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a class="nav-lin" routerLink="">
                    <span>Admission</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="">Procedure</a></li>
                    <li><a class="dropdown-item" routerLink="">Fee Structure</a></li>
                    <li><a class="dropdown-item" routerLink="">Curriculum</a></li>
                    <li><a class="dropdown-item" routerLink="">Withdrawl</a></li>
                    <li><a class="dropdown-item" routerLink="" target="_blank">Registration Form</a></li>
                    <li><a class="dropdown-item" routerLink="">Document Checklist</a></li>
                    <li><a class="dropdown-item" routerLink="">Plan a Visit</a></li>
                </ul>
                <!-- <ul>
                    <li><a routerLink="">Drop Down 1</a></li>
                    <li class="dropdown"><a routerLink=""><span>Deep Drop Down</span> <i
                                class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a routerLink="">Deep Drop Down 1</a></li>
                            <li><a routerLink="">Deep Drop Down 2</a></li>
                            <li><a routerLink="">Deep Drop Down 3</a></li>
                            <li><a routerLink="">Deep Drop Down 4</a></li>
                            <li><a routerLink="">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Drop Down 2</a></li>
                    <li><a routerLink="">Drop Down 3</a></li>
                    <li><a routerLink="">Drop Down 4</a></li>
                </ul> -->
            </li>
            <!-- <li><a class="nav-link scrollto" routerLink="#departments">Departments</a></li> -->
            <li class="dropdown">
                <a class="nav-lin" routerLink="">
                    <span>Academics</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="">Assignment</a></li>
                    <li><a class="dropdown-item" routerLink="">Syllabus</a></li>
                    <li><a class="dropdown-item" routerLink="">Circular/Notice</a></li>
                    <li><a class="dropdown-item" routerLink="">Homework</a></li>
                    <li><a class="dropdown-item" routerLink="">Datesheet</a></li>
                    <li><a class="dropdown-item" routerLink="">Transfer Certificate</a></li>
                    <li><a class="dropdown-item" routerLink="">Result</a></li>
                    <li><a class="dropdown-item" routerLink="">House System</a></li>
                </ul>
                <!-- <ul>
                    <li><a routerLink="">Drop Down 1</a></li>
                    <li class="dropdown"><a routerLink=""><span>Deep Drop Down</span> <i
                                class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a routerLink="">Deep Drop Down 1</a></li>
                            <li><a routerLink="">Deep Drop Down 2</a></li>
                            <li><a routerLink="">Deep Drop Down 3</a></li>
                            <li><a routerLink="">Deep Drop Down 4</a></li>
                            <li><a routerLink="">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Drop Down 2</a></li>
                    <li><a routerLink="">Drop Down 3</a></li>
                    <li><a routerLink="">Drop Down 4</a></li>
                </ul> -->
            </li>
            <!-- <li><a class="nav-link scrollto" routerLink="#doctors">Doctors</a></li> -->
            <li class="dropdown">
                <a class="nav-lin" routerLink=""><span>Facilities</span><i class="bi bi-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="">Library</a></li>
                    <li><a class="dropdown-item" routerLink="">Laboratries</a></li>
                    <li><a class="dropdown-item" routerLink="">Scouts / NCC</a></li>
                    <li><a class="dropdown-item" routerLink="">Smart Class Room</a></li>
                    <li><a class="dropdown-item" routerLink="">Transport</a></li>
                    <li><a class="dropdown-item" routerLink="">Dance & Music</a></li>
                    <li><a class="dropdown-item" routerLink="">Counselling / Special Education</a></li>
                </ul>
                <!-- <ul>
                    <li><a routerLink="">Drop Down 1</a></li>
                    <li class="dropdown"><a routerLink=""><span>Deep Drop Down</span> <i
                                class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a routerLink="">Deep Drop Down 1</a></li>
                            <li><a routerLink="">Deep Drop Down 2</a></li>
                            <li><a routerLink="">Deep Drop Down 3</a></li>
                            <li><a routerLink="">Deep Drop Down 4</a></li>
                            <li><a routerLink="">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Drop Down 2</a></li>
                    <li><a routerLink="">Drop Down 3</a></li>
                    <li><a routerLink="">Drop Down 4</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a class="nav-lin" routerLink="">
                    <span>News & Act</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="">Important Days & Events</a></li>
                    <li><a class="dropdown-item" routerLink="">List Of Holidays & Vacation</a></li>
                    <li><a class="dropdown-item" routerLink="">Calender of Events</a></li>
                    <li><a class="dropdown-item" routerLink="">Ranking & Acheivements</a></li>
                    <li><a class="dropdown-item" routerLink="">Clubs</a></li>
                </ul>
                <!-- <ul>
                    <li><a routerLink="">Drop Down 1</a></li>
                    <li class="dropdown"><a routerLink=""><span>Deep Drop Down</span> <i
                                class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a routerLink="">Deep Drop Down 1</a></li>
                            <li><a routerLink="">Deep Drop Down 2</a></li>
                            <li><a routerLink="">Deep Drop Down 3</a></li>
                            <li><a routerLink="">Deep Drop Down 4</a></li>
                            <li><a routerLink="">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Drop Down 2</a></li>
                    <li><a routerLink="">Drop Down 3</a></li>
                    <li><a routerLink="">Drop Down 4</a></li>
                </ul> -->
            </li>
            <li><a class="nav-lin scrollto" routerLink="">Gallery</a>
            </li>
            <li><a class="nav-lin scrollto" routerLink="">Contact</a>
            </li>
        </ul>
        <!-- </div> -->
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> <!--------- .navbar ----------->
    <!-- End Navigation -->

</section>